<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Cielo-->
    <add key="Cielo.Numero" value="1001734898" />
    <add key="Cielo.Chave" value="e84827130b9837473681c2787007da5914d6359947015a5cdb2b8843db0fa832" />
    <add key="Cielo.Ambiente" value="Teste" />
    <!--Teste|Producao-->
    <add key="Cielo.UrlTeste" value="https://qasecommerce.cielo.com.br/servicos/ecommwsec.do" />
    <add key="Cielo.UrlProducao" value="https://ecommerce.cbmp.com.br/servicos/ecommwsec.do" />
    <!--Cielo-->
  </appSettings>
</configuration>