<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cielo" type="Cielo.Helpers.CieloConfig, Cielo"></section>
  </configSections>
  <cielo chave="25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3" 
         numero="1006993069" 
         ambiente="dev">
    <endpoints>
      <add name="dev" url="https://qasecommerce.cielo.com.br/servicos/ecommwsec.do" />
      <add name="prod" url="https://ecommerce.cbmp.com.br/servicos/ecommwsec.do" />
    </endpoints>
  </cielo>
</configuration>
